<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Journal</title>

    <!-- Boostrap Link  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- font awesom  -->
    <script src="https://kit.fontawesome.com/964954fdd1.js" crossorigin="anonymous"></script>
      <!-- CSS link  -->
    <link rel="stylesheet" href="/css/style.css" />


       <!-- As a heading -->
<nav class="navbar navbar-light bg-#5B8FB9">
  <span class="navbar-brand mb-0 h1 ">Daily Journal</span>

  <ul class="nav " id="myTab" role="tablist">
  <li class="nav-item">
   <a class="nav-link  " id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"  aria-current="page" >Home</a> 
   
  </li>
  <li class="nav-item">
    <a class="nav-link " id="about-tab" data-toggle="tab" href="/about" role="tab" aria-controls="about" aria-selected="false">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="/contact" role="tab" aria-controls="contact" aria-selected="false">Contact Us</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " id="compose-tab" data-toggle="tab" href="/compose" role="tab" aria-controls="compose" aria-selected="false"><i class="fa-solid fa-pen-to-square"></i></a>
  </li>
</ul>

</nav>

  </head>
  <body>
    <div class="conatiner">
     
  </body>
</html>
